{% extends 'core/index.html' %}

{% block content %}

    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="col-12">
            <h1>
                New accounts
            </h1>
            <h4>
                Approve ONLY accounts with correct data(informations)<br>and which are real employees of hotel.
            </h4>
            <div id="confirm_form">
                {% if to_confirm %}
                {% for employee in to_confirm %}
                <div class="row">
                    <div class="col" >
                            {{employee.name}}
                    </div>
                    <div class="col" >
                            {{employee.last_name}}
                    </div>
                    <div class="col">
                        <a href="{% url 'user_profile_ui' employee.user %}">Profile</a>
                    </div>
                    <div class="col">
                        <button class="btn bg-success" @click="sendConfirmation('{{employee.pk}}')" style="float:left; margin-right: 0.5rem">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </button>
                        <button class="btn bg-danger" @click="sendNotConfirmation('{{employee.pk}}')">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                <span class="span-row" style="width: 95%; margin-bottom: .5rem"></span>
                </div>
                {% endfor %}
                {% else %}
                <h4>
                    No new accounts to approve.
                </h4>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        new Vue ({
            el: '#confirm_form',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    seen: false
                }
            },
            methods: ({
                sendConfirmation: function (user) {
                    var person = {
                        'user': user,
                        'confirmed': true,
                        'corrected': false
                    };
                    fetch('/api/confirmation/', {
                        method: 'POST',
                        headers: {
                            'ContentType': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(person)

                    })
                        .then(response => {
                            console.log('it worked')
                            location.reload()
                        })
                },
                sendNotConfirmation: function (user) {
                    var person = {
                        'user': user,
                        'confirmed': false,
                        'corrected': false
                    };
                    fetch('/api/confirmation/', {
                        method: 'POST',
                        headers: {
                            'ContentType': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(person)

                    })
                        .then(response => {
                            console.log('it worked')
                            location.reload()
                        })
                },
            })
        })
    </script>
{% endblock %}