{% extends 'core/index.html' %}
{% block content %}
{% load static %}
<style>
    #custom_card {
			width: 20rem;
			margin-top: auto;
			margin-bottom: .5rem;
            margin-right: .5rem;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
</style>
    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
            <h1 style="padding-left: 1.25rem">Check new times</h1>
            <span class="span-row" style="width: 100%"></span>
            <div id="confirm_time">
                <div v-if="times.length">
                    <div class="row" style="padding-left: 1.25rem" >
                        <div class="col" v-for="(time, index) in times" v-if="time.checked_by_supervisor===false && time.done_working == true" >
                            <div id="custom_card" >
                                <div class="table-responsive">
                                    <table class="table bg-light" >
                    <tbody>
                    <tr>
                            <th>Employee:</th>
                            <td>[[time.name]]&nbsp;[[time.last_name]]</td>
                        </tr>
                        <tr>
                            <th>Started Work:</th>
                            <td>
                                <input class="input is-small" v-model="times[index].start_working"  type="datetime-local" style="text-align: center; width: auto;" >
                            </td>
                        </tr>
                        <tr>
                            <th>Ended Work:</th>
                            <td>
                                <input class="input is-small" v-model="times[index].end_working" type="datetime-local" style="text-align: center; width: auto">
                            </td>
                        </tr>
                        <tr>
                            <th>Worked Time:</th>
                            <td>[[time.worked_time]]</td>
                        </tr>
                        <tr>
                            <th>Note:</th>
                            <td>
                                <input class="input is-small" maxlength="100" type="text"
                                       placeholder="Max: 100 characters" v-model="noteTime[index]">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div style="display: inline-block; background: #00D000; border-radius: 8px">Confirm</div>
                                <div style="display: inline-block; background: #ff4444; border-radius: 8px">Correct</div>
                            </th>
                            <td>
                                <button class="btn bg-success" @click="confirmTime(time.id, index)">
                                <ion-icon name="checkmark-outline"></ion-icon></button>
                                <button type="submit" class="btn bg-danger" @click="sendCorrected(time.id,index)">
                                    <ion-icon name="close-outline"></ion-icon></button>
                            </td>
                        </tr>
                    <tr>
                        <th></th>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                            </div>
                        </div>
                </div>
                        </div>
                    </div>
                <div v-else>
                    <h4>
                        No new working times to confirm.
                    </h4>
                </div>
            </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue ({
        el: '#confirm_time',
        delimiters: ['[[', ']]'],
        data () {
            return {
                times: [],
                times_corrected: [],
                over: '',
                noteTime: []
            }
        },
        mounted () {
            this.getTime()

        },
        methods: ({
            sendCorrected: function (id, index) {
                console.log(id);
                var time = this.times[index];
                var time_corrected = this.times_corrected[index];
                axios.put('/api/workingtime/'+id+'/', {
                    'start_working': time.start_working,
                    'start_working_corrected': time_corrected.start_working,
                    'end_working': time.end_working,
                    'end_working_corrected': time_corrected.end_working,
                    'checked_by_supervisor': true,
                    'is_approved_by_supervisor': false,
                    'index': index,
                    'ending_work': false,
                    'note_time': this.noteTime[index]
                },
                    {
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                }).then(response => {
                    this.over = response.data['over'];
                    console.log('Corrected!')
                    this.getTime();
                }, 	(error) => { console.log(error) })
            },
            confirmTime: function (id, index) {
                axios.put('/api/workingtime/'+id+'/', {
                    'checked_by_supervisor': true,
                    'is_approved_by_supervisor': true,
                    'ending_work': false,
                    'note_time': this.noteTime[index],
                    },
                    {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(response => {
                    this.over = response.data['over']
                    console.log('Confirmed!')
                    this.getTime()
                }, 	(error) => { console.log(error) })
            },
            getTime: function () {
                axios.get('/api/workingtime/')
                    .then(response => {
                        this.times = [];
                        for (i=0; i < response.data.length; i++) {
                            this.noteTime.push('')
                            if (!response.data[i].checked_by_supervisor && response.data[i].done_working) {
                                console.log(response.data[i])
                                this.times.push(response.data[i])
                                this.times_corrected.push(response.data[i])
                            }
                        }
                    }, (error) => { console.log(error) })
            }
        }),

    })
</script>
{% endblock %}