{% extends 'core/index.html' %}
{% block title %}
Profile |
{% endblock %}
{% block content %}

    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="col-12">
            <div class="form-wrapper" id="profile_" style="margin-bottom: 10px">
                <h1>{{ user }}s profile</h1><br>
                {% if user_profile.supervisor %}
                    {% if user_profile.user.is_staff %}
                    <h5>Admin</h5>
                    {% elif user_profile.manager %}
                    <h5>Manager</h5>
                    {% else %}
                    <h5>Supervisor</h5>
                    {% endif %}
                {% elif not user_profile.supervisor and user_profile.confirmed_employee %}
                <h5>Employee</h5>
                {% else %}
                <h5>Guest</h5>
                {% endif %}
                <!-- Changing Datas form -->
                <form method="post" v-on:submit.prevent="saveChanges()">
                    <div class="table-responsive">
                    <table class="table" id="profile_table">
                    <thead class="">
                        <th></th>
                        <th>{% if user_profile.name == '' or user_profile.last_name == '' or user_profile.department == 'Unspecify' %}
                                <h6 style="color: red; float: right">* Fill up the required fields</h6>
                            {% endif %}
                        </th>
                    </thead>
                    <tbody>
                            <tr>
                            {% if request.user.userprofile.supervisor %}
                                <th>Check if employee:</th>
                                <td><input type="checkbox" v-model="confirmed"></td>
                            {% else %}
                                <th>Employee:</th>
                                {% if user_profile.confirmed_employee %}
                                    <td><h2 style="color: green">Is confirmed</h2></td>
                                {% else %}
                                    <td><h2 style="color: red">Waiting for confirmation</h2></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                            {% if request.user.userprofile.manager %}
                            <tr>
                                <th>Supervisor:</th>
                                <td><input type="checkbox" v-model="confirmed_supervisor"></td>
                            </tr>
                            {% endif %}
                        <tr>
                            <th>Name:</th>
                            {% if user_profile.name == '' or request.user.userprofile.supervisor %}
                            <td><input class="input" typeof="text" v-model="name"
                                       v-bind:style="{border: styleColorName}" placeholder="Name"></td>
                            {% else %}
                            <td>{{user_profile.name}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Lastname:</th>
                            {% if user_profile.name == '' or request.user.userprofile.supervisor %}
                            <td><input class="input" typeof="text" v-model="last_name"
                                   v-bind:style="{border: styleColorLastName}" placeholder="Last Name"></td>
                            {% else %}
                            <td>{{ user_profile.last_name }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Department:</th>
                            {% if user_profile.department == 'Unspecify' or request.user.userprofile.supervisor %}
                            <td><div v-show="show_department || '{{request.user.userprofile.supervisor}}' === 'True'" style="display: inline">
                                    <div class="select">
                                        <select class="custom-select" v-model="department" v-bind:style="{border: styleColorDepartment}">
                                            {% for department, index in user_profile.department_choices %}
                                                <option>{{ index }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </td>
                            {% else %}
                            <td>{{user_profile.department}}</td>
                            {% endif %}
                        </tr>
                    <tr>
                        <th>Age:</th>
                        <td><input class="input" typeof="text" v-model="age"></td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td><input class="input" typeof="text" v-model="email"
                               v-bind:style="{border: styleColorEmail}" placeholder="Email">
                        <label v-show="wrongEmail" style="color: red">Wrong Email or already exist in database!</label></td>
                    </tr>
                        {% if user_profile.user == request.user %}
                    <tr>
                        <th>
                            Last tip:
                        </th>
                        <td><h3>{{user_profile.money}}&#8364;</h3></td>
                    </tr>
                     {% endif %}
                    </tbody>
                    </table>
                        </div>
                    <button class="btn text-light bg-dark"><strong>Save</strong></button>
                </form>
            </div>
            {% if user_profile.user == request.user %}
            <!-- Changing password form -->
            <div class="form-wrapper" id="password_wrapper">
                <div>
                <button class="btn text-light bg-dark" @click="seen = !seen"><strong>Change Password</strong></button>
                </div>
                <!-- Message of changing password, successful or unsuccessful -->
                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <div v-show="seen">
                    <form method="post" action=".">
                        {% csrf_token %}
                        {{ change_password.as_p }}
                        <button class="btn text-light bg-dark" type="submit"><strong>Set new password</strong></button>
                    </form>
                </div>
            </div>
            {% endif %}
             {% if request.user.userprofile.supervisor %}
                <div id="users-times">
                    <div>
                    <button style="float: right" class="btn text-light bg-dark" @click="seen = !seen"><strong>Times</strong></button>
                    </div>
                    <span style="display: inline-block; height: 3rem"></span>
                    <div v-show="seen">
                        <div class="table-responsive" style="min-height: 50rem">
                        <table class="table">
                            <thead class="thead-dark">
                                <th>Start</th>
                                <th>End</th>
                                <th>Time</th>
                                <th>Note</th>
                                <th>Save</th>
                                <th>Logs</th>
                                <th>Delete</th>
                            </thead>
                            <tbody v-for="(time, index) in times" v-if="time.owner === '{{user_profile.user.username}}'" style="text-align: center; border-top: solid black 2px; border-bottom: solid black 2px">
                                <tr>
                                    <td>
                                        <input class="input is-small" v-model="times[index].start_working"  type="datetime-local" style="text-align: center; width: auto;" >
                                    </td>
                                    <td>
                                        <span v-if="!time.done_working">
                                            Currently at work
                                        </span>
                                        <span v-else>
                                            <input class="input is-small" v-model="times[index].end_working"  type="datetime-local" style="text-align: center; width: auto;" >
                                        </span>
                                    </td>
                                    <td>[[time.worked_time]]</td>
                                    <td><input class="input is-small" maxlength="100" type="text"
                                       placeholder="Max: 100 characters" v-model="noteTime[index]"></td>
                                    <td><button @click="sendCorrected(time.id, index)" class="btn bg-success"><ion-icon name="checkmark-outline"></ion-icon></button></td>
                                    <td class="dropdown dropdown dropleft" style="margin-top: 0.2rem; margin-bottom: 0.2rem;">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLogsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false">
                                                              <ion-icon name="reader-outline"></ion-icon>
                                                            </button>

                                                            <div class="dropdown-menu" aria-labelledby="dropdownLogsButton">
                                                              <a v-for="change in changed_times_logs" v-if="change.workingtime === time.id" class="dropdown-item">
                                                                  <div style="text-align: center">
                                                                      <strong>Changed by:</strong>
                                                                      <br>[[change.changed_by]]
                                                                      <br><strong>Changed at:</strong>
                                                                      <br>[[change.changed_at]]
                                                                      <br><strong>Start:</strong>
                                                                      <br>[[change.time_start]]
                                                                      <br><strong>End:</strong>
                                                                      <br>[[change.time_end]]
                                                                      <br><strong>Note:</strong>
                                                                      <br>[[change.notes]]
                                                                  </div>
                                                                  <hr class="dropdown-divider">
                                                              </a>
                                                            </div>
                                                          </td>
                                    <td><span v-if="time.checked_by_supervisor">
                                                            <span v-if="time.is_approved_by_supervisor">
                                                                <button @click="delTime(time.id)" class="btn bg-success" aria-haspopup="true" aria-controls="dropdown-menu">
                                                                    <ion-icon name="trash-outline"></ion-icon><span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                              </span></button>
                                                            </span>
                                                            <span v-else>
                                                                <button @click="delTime(time.id)" class="btn bg-danger" aria-haspopup="true" aria-controls="dropdown-menu"><ion-icon name="trash-outline"></ion-icon><span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                              </span></button>
                                                            </span>
                                                        </span>
                                                        <span v-else>
                                                            <button @click="delTime(time.id)" class="btn bg-warning" aria-haspopup="true" aria-controls="dropdown-menu"><ion-icon name="trash-outline"></ion-icon><span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                              </span></button>
                                                        </span></td>
                                </tr>
                                <tr v-if="time.corrected" style="color: red">
                                    <td>[[time.start_working_corrected]]</td>
                                                    <td>[[time.end_working_corrected]]</td>
                                                    <td>[[time.worked_time_corrected]]</td>
                                                    <td>Original Time</td>
                                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                                    <div style="text-align: right; margin-top: 1rem">
                                        <a class="btn text-light bg-dark" href="{% url 'u_logs' user_profile.pk %}"
                                             download="{{user_profile.name}}{{user_profile.last_name}}logs"><strong>Download Logs</strong></a>
                                    </div>
                        </div>
                </div>
            {% endif %}
        </div>
    </div>






{% endblock %}

{% block script %}
<script>

    new Vue ({
       el: '#users-times',
       delimiters: ['[[',']]'],
       data () {
           return {
               times: [],
               seen: false,
               noteTime: [],
               changed_times_logs: []
           }
       },
        mounted () {
           this.getTimes();
        },
        methods: {
           getTimes: function () {
                axios.get('/api/workingtime/')
                .then(response => {
                    this.times = response.data;
                    this.changed_times_logs = [];
                    for (i=0;i<response.data.length;i++) {
                        this.noteTime.push('');
                    }
                    this.changes_logs(response.data)
                })
            },
            changes_logs: function (times) {
               axios.get('/api/workingtime/change_logs/')
                .then(response => {
                    for (j=0;j<times.length;j++){
                        for (i=0;i<response.data.length;i++) {
                            if (response.data[i].workingtime === times[j].id) {
                                this.changed_times_logs.push(response.data[i])
                            }
                        }
                    }
                })
            },
            delTime: function (id) {
                axios.delete('/api/workingtime/'+id+'/',{
                    headers: {
                        'ContentType': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                })
                .then(response => this.getTimes())
            },
            sendCorrected: function (id, index) {
                var time = this.times[index];
                axios.put('/api/workingtime/'+id+'/', {
                    'start_working': time.start_working,
                    'end_working': time.end_working,
                    'checked_by_supervisor': true,
                    'is_approved_by_supervisor': false,
                    'index': index,
                    'ending_work': false,
                    'note_time': this.noteTime[index]
                },
                    {
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                }).then(response => {
                    this.over = response.data['over'];
                    console.log('Corrected!');
                    this.getTimes();
                }, 	(error) => { console.log(error) })
            },
        }
    });
    new Vue ({
        el: '#password_wrapper',
        delimiters: ['[[', ']]'],
        data () {
            return {
                seen: false
            }
        },
    });
    new Vue ({
        el:'#profile_',
        delimiters: ['[[',']]'],
        data () {
            return {
                user: '{{ user }}',
                name: '{{ user_profile.name }}',
                last_name: '{{ user_profile.last_name}}',
                age: '{{ user_profile.age }}',
                email: '{{ user_profile.email }}',
                regex: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,4}))$/,
                wrongEmail: false,
                department: '{{ user_profile.department }}',
                show_department: '{{ user_profile.department }}' === 'Unspecify',
                confirmed: '{{ user_profile.confirmed_employee }}' === 'True',
                confirmed_supervisor: '{{ user_profile.supervisor}}' === 'True',
            }
        },

        computed: {
            errorEmail: function() {
                if (this.wrongEmail) {
                    return this.wrongEmail
                }
                return !this.regex.test(this.email)
            },
            styleColorName: function () {
                if (this.name === '') {
                    return 'solid 1px red'
                }
            },
            styleColorLastName: function () {
                if (this.last_name === '') {
                    return 'solid 1px red'
                }
            },
            styleColorDepartment: function () {
                if (this.show_department) {
                    return 'solid 1px red'
                }
            },
            styleColorEmail: function () {
                if (this.regex.test(this.email) === false) {
                    return 'solid 1px red'
                }
            }
        },

        methods: {
            saveChanges: function () {
                    if (this.name === '{{ user_profile.name }}' && this.last_name === '{{user_profile.last_name}}' &&
                        this.age === '{{user_profile.age}}' && this.email === '{{user_profile.email}}' &&
                        !this.show_department && this.confirmed === '{{ user_profile.confirmed_employee}}'&&
                        this.confirmed_supervisor === '{{ user_profile.suervisor}}') {
                        console.log('You didnt change anything');
                        console.log(this.department)
                    } else {
                        var profile = {
                            'user': this.user,
                            'name': this.name,
                            'last_name': this.last_name,
                            'age': this.age,
                            'email': this.email,
                            'department': this.department,
                            'confirmed': this.confirmed,
                            'confirmed_supervisor': this.confirmed_supervisor
                        };
                        fetch('/api/save_profile_changes/', {
                            method: 'POST',
                            headers: {
                                'ContentType': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify(profile)
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                this.wrongEmail = data['email'];
                                location.reload()
                            })
                    }
                }
            }
    })
</script>
{% endblock %}