{% extends 'core/base.html' %}

{% block title %}Tips | {% endblock %}
{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-12">
            <div class="form-wrapper">
                <form method="post" action="{% url 'tips_shared' %}">
                    <h2 class="subtitle is-3">{{request.user.userprofile.department}}</h2>
                    <table class="table" style="background: #f5f5f5" >
                        <thead>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Points</th>
                        </thead>
                        <tbody>
                            {% csrf_token %}
                            {% for employee in employees %}
                                <tr>
                                    <td><label>{{ employee.name }}</label></td>
                                    <td><label>{{ employee.last_name }}</label></td>
                                    <td><input class="input" style="width: 8rem;" class="input_bar"
                                               type="number" name="points{{employee.id}}" value=0 step=".25" min="0">
                                        <br>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align: left">
                    <p>Total tips</p>
                    <input class="input" style="width: 10rem;" type="number" name="money" min="1" value="1"></div><br><br>
                    <input type="submit" class="button is-success" value="SEND">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}