* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: hsl(0, 0%, 21%);
    background: #f7f1e3;
    font-family: 'Playfair', serif;
    font-size: 15px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

#home-page-link a:hover {
    color: #fff;
}

#frontpage-link a:link,
                a {
    color: hsl(0, 0%, 21%);
}

.input_bar {
    width: 100%;
}

.table-column {
    display: inline-block;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    text-align: center;
}


.table-column_bulma {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-left: .25rem;
    text-align: center;
}


.span-row {
    display: block;
    width: 80%;
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
}
