{% extends 'core/index.html' %}

{% block title %}Start |{%endblock%}

{% block content %}
        <div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
            <div class="col-12">
                <div id="working-time">
                    <div v-if="!user.at_work">
                        <div v-if="!user.worked_today">
                            <h2>
                                <strong>
                                    Press the button to start counting your work time!
                                </strong>
                            </h2>
                            <button class="btn text-light bg-success" style="float:right" data-toggle="modal" data-target="#workingModal">START</button>
                        </div>
                        <div v-else>
                            <h2>You have been working today!<br> </h2>
                            <h4>[[latest_time.worked_time]]</h4>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="user.at_work && !user.worked_today">
                            <h1>You are at work! Have a nice shift!</h1>
                            <h4>If your shift is over, <strong>and only then</strong>, press the red button to stop counting your time.<br>
                                You can't start working again in the same day!<br>
                                Check box if you didnt have a break.</h4>
                            <h5><div style="display: inline-block; border-bottom: solid black 1px">
                                <br>
                                <label><strong>Break</strong></label>
                                <input v-model="break_" type="checkbox">
                                <h6>(Break is added only if you worked more than 6 hours)</h6>

                            </div></h5>
                            <button class="btn text-light bg-danger" style="float:right" data-toggle="modal" data-target="#workingModal">STOP</button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="workingModal" tabindex="-1" role="dialog" aria-labelledby="workingModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="workingModalLabel">Working</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div v-if="!user.at_work && !user.worked_today" class="modal-body">
                            Are you ready to begin your shift?
                          </div>
                            <div v-if="user.at_work && !user.worked_today" class="modal-body">
                            Are you sure you are done for today?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                              <div v-if="!user.at_work && !user.worked_today">
                                <button type="button" @click="startWork()" class="btn btn-success">Yes</button>
                              </div>
                              <div v-if="user.at_work && !user.worked_today">
                                <button type="button" @click="stopWork()" class="btn btn-danger">Yes</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
<script>
    new Vue ({
        el: '#working-time',
        delimiters: ['[[',']]'],
        data () {
            return {
                user: '',
                latest_time: '',
                break_: false,
            }
        },
        mounted () {
            this.getUsersData(parseInt('{{request.user.userprofile.id}}'))
        },
        methods: {
            getUsersData: function(pk) {
                vm = this
                axios.get('/api/userprofile/'+pk+'/')
                .then(response => {
                    this.user = response.data;
                    if (response.data.workingtime[0] !== undefined) {
                        vm.latest_time = this.getTime(response.data.workingtime[0])
                    }
                })
            },
            startWork: function() {
                axios.post('/api/workingtime/', {
                    'start_working': new Date(),
                    'end_working': new Date(),
                    'start_working_corrected': new Date(),
                    'end_working_corrected': new Date(),
                    'worked_time_seconds': 0,
                    'corrected_by': '',
                    'corrected_at': new Date()
                }, {
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                        'credentials': 'same-origin'
                    }
                })
                .then(response => {
                    this.userAtWork('{{request.user.userprofile.id}}')
                    location.reload()
                })
                },
            stopWork: function () {
                this.getTime(this.user.workingtime[0])
                axios.put('/api/workingtime/'+this.user.workingtime[0]+'/', {
                    'ending_work': true,
                    'break': this.break_
                }, {
                    headers: {
                        'Type-Content': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                })
                .then(response => {
                    this.userNotAtWork(this.user.id);
                    location.reload()
                    return response.data
                })
            },
            userAtWork: function (id) {
                axios.put('/api/userprofile/'+id+'/', {
                    'at_work': true,
                }, {
                    method:'PUT',
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                        'credentials': 'same-origin'
                    }
                })
                .then(response => {
                    this.getUsersData('{{request.user.userprofile.id}}');

                })
            },
            userNotAtWork: function (id) {
                axios.put('/api/userprofile/'+id+'/', {
                    'at_work': false,
                    'worked_today': true
                }, {
                    method:'PUT',
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                        'credentials': 'same-origin'
                    }
                })
                .then(response => this.getUsersData('{{request.user.userprofile.id}}'))
            },
            getTime: function (id) {
                axios.get('/api/workingtime/'+id+'/')
                .then(response => this.latest_time = response.data )
            }
        },
    })
</script>
{% endblock script %}