{% extends 'core/index.html' %}

{% block title %}Start |{%endblock%}
{% load humanize %}

{% block content %}
        <div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
            <div class="col-12">
                <div id="working-time">
                    <div v-if="!user.at_work">
                        <div v-if="!user.worked_today">
                            <h2>
                                <strong>
                                    Press the button to start counting your work time!
                                </strong>
                            </h2>
                            <button class="btn bg-success" @click="startWork()" style="float:right">START</button>
                        </div>
                        <div v-else>
                            <h2>You have been working today!<br> </h2>
                            <h4>[[latest_time.worked_time]]</h4>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="user.at_work && !user.worked_today">
                            <h1>You are at work! Have a nice shift!</h1>
                            <h4>If your shift is over, <strong>and only than</strong>, press the red button to stop counting your time.<br>
                                You can't start working again in the same day!<br>
                                Check box if you didnt have a break.</h4>
                            <h5><div style="display: inline-block; border-bottom: solid black 1px">
                                <label><strong>Break</strong></label>
                                <input v-model="break_" type="checkbox">

                            </div></h5>
                            <button class="btn bg-danger" @click="stopWork()" style="float:right">STOP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block script %}
<script>
    new Vue ({
        el: '#working-time',
        delimiters: ['[[',']]'],
        data () {
            return {
                user: '',
                latest_time: '',
                break_: false
            }
        },
        mounted () {
            this.getUsersData(parseInt('{{request.user.userprofile.id}}'))
        },
        methods: {
            getUsersData: function(pk) {
                vm = this
                axios.get('/api/userprofile/'+pk+'/')
                .then(response => {
                    this.user = response.data;
                    vm.latest_time = this.getTime(response.data.workingtime[0])
                })
            },
            startWork: function() {
                axios.post('/api/workingtime/', {
                    'start_working': new Date(),
                    'end_working': new Date(),
                    'start_working_corrected': new Date(),
                    'end_working_corrected': new Date(),
                    'worked_time_seconds': 0,
                    'corrected_by': '',
                    'corrected_at': new Date()
                }, {
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                        'credentials': 'same-origin'
                    }
                })
                .then(response => {
                    this.userAtWork('{{request.user.userprofile.id}}')
                })
            },
            stopWork: function () {
                this.getTime(this.user.workingtime[0])
                axios.put('/api/workingtime/'+this.user.workingtime[0]+'/', {
                    'ending_work': true,
                    'break': this.break_
                }, {
                    headers: {
                        'Type-Content': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                })
                .then(response => {
                    this.userNotAtWork(this.user.id);
                    return response.data
                })
            },
            userAtWork: function (id) {
                axios.put('/api/userprofile/'+id+'/', {
                    'at_work': true,
                }, {
                    method:'PUT',
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                        'credentials': 'same-origin'
                    }
                })
                .then(response => {
                    this.getUsersData('{{request.user.userprofile.id}}');

                })
            },
            userNotAtWork: function (id) {
                axios.put('/api/userprofile/'+id+'/', {
                    'at_work': false,
                    'worked_today': true
                }, {
                    method:'PUT',
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                        'credentials': 'same-origin'
                    }
                })
                .then(response => this.getUsersData('{{request.user.userprofile.id}}'))
            },
            getTime: function (id) {
                axios.get('/api/workingtime/'+id+'/')
                .then(response => this.latest_time = response.data )
            }
        },
    })
</script>
{% endblock script %}