{% extends 'core/index.html' %}

{% block content %}
<div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
    <div class="col-12">
         <h1>Hi there!</h1>
                    <ul>
                        <li style="letter-spacing: 2px"><h5>Are you forgetting to write your working time?</h5></li>
                        <li style="letter-spacing: 2px"><h5>Do you hate to make hundreds of pictures of workingplan?</h5></li>
                        <li style="letter-spacing: 2px"><h5>Or maybe you are writing it on your mobilephone, which you can loose any time.</h5></li>
                    </ul><br>
                    <h3 style="word-spacing: 2px; letter-spacing: 2px">If your answer for any of that questions was <strong>YES</strong>, that website is for you!<br>
                        By single press button save your working time!<br>
                    <strong>Sign up</strong> now below and try it for yourself!</h3>
    </div>
</div>
{% endblock %}