<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Title -->
    <title>{% block title %}{%endblock%}Worksite</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="../../static/style.css">
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<!-- Nav -->
<nav id="nav-burger" class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
       <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
       </a>
       </div>
    <div class="navbar-menu" v-bind:class="{'is-active': isOpen}" style="background: hsl(0, 0%, 21%)">
        <div class="navbar-start">
                    <div class="navbar-item">
                        <a class="button is-success" href="{% url 'frontpage' %}">
                            <strong>HOME PAGE</strong>
                        </a>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="navbar-item">
                            <a class="button is-light" href="{% url 'working' %}">
                                <strong>WORK</strong>
                            </a>
                        </div>
                        <!--<a class="button is-light" href=" url 'working_2' "><strong>WORK 2 Testing API</strong></a>-->
                    {% endif %}
                    {% if request.user.is_staff %}
                        <div class="navbar-item">
                            <a class="button is-light" href="{% url 'views_employees' %}">
                                <strong>TIPS</strong>
                            </a>
                        </div>
                    {% endif %}
                {% if request.user.userprofile.at_work %}
            <div class="navbar-item"><p>Currently at work!</p></div>
                {% endif %}
        </div>
        <div class="navbar-end">
                {% if request.user.is_authenticated %}
                    <div class="navbar-item"><p>HI {{ request.user.username }}!</p></div>
                    <div class="navbar-item">
                        <a href="{% url 'user_profile_ui' request.user.username %}" class="button is-light">
                            <strong>Profile</strong>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a href="{% url 'logout' %}" class="button is-danger">
                            <strong>Logout</strong>
                        </a>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <a class="button is-success" href="{% url 'signup' %}">
                            <strong>Sign up</strong>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-light" href="{% url 'login' %}">
                            <strong>Log in</strong>
                        </a>
                    </div>
                {% endif %}
        </div>
    </div>
</nav>
<!-- End Nav -->

<!-- Content -->
<section class="section">
    <div class="row">
        {% block content %}
        {% endblock content %}
    </div>
</section>
<!-- End Content -->
<footer class="footer">
    <div class="columns">
        <div class="column is-5">
            <h2 class="subtitle is-4 navbar-item"><strong>Work</strong></h2>
        </div>
        <div class="column is-8">
            <h2 class="subtitle is-4 navbar-item" style="margin-bottom: 0rem"><strong>Info</strong></h2>
            <a href="." class="navbar-item">Contact</a>
            <a href="." class="navbar-item">About</a>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script>
    new Vue ({
        el: '#nav-burger',
        data: {
            isOpen: false
        }
    })
</script>
{% block script %}
{% endblock script %}
<!-- End Scripts -->
</body>
</html>