{% extends 'core/index.html' %}
{% load static %}
{% block navbar %}

{% endblock %}
{% block content %}
<div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
    <div class="col-12">

                {% if request.user.is_authenticated %}
                    {% if not request.user.userprofile.checked_account %}
                        <h3>
                            Waiting for supervisor to approve your account.
                        </h3>
                    {% elif request.user.userprofile.checked_account and not request.user.userprofile.confirmed_employee %}
                        <h3>Your account wasn't confirmed by Management. Please contact your Manager</h3>
                    {% else %}
                        <h2>Welcome back {{ request.user.userprofile.name}} {{request.user.userprofile.last_name}}</h2><br>
                        <h4>You can delete working times by pressing <ion-icon name="trash-outline"></ion-icon>.
                            <br>You can check logs of changes under <ion-icon name="reader-outline"></ion-icon>.
                            <br>Deleted times cant be restored, so be careful.</h4>
                            <div style="margin-bottom: 5rem"></div>
                            <div style="background: hsl(48, 100%, 67%); width: 21rem; margin: 0.5rem 0; border-radius: 20px; text-align: center;">
                                Waiting for approve/still at work</div>
                            <div style="background: hsl(141, 53%, 53%); width: 21rem; margin: 0.5rem 0; border-radius: 20px; text-align: center;">
                                Confirmed by Supervisor</div>
                            <div style="background: hsl(348, 100%, 61%); width: 21rem; margin: 0.5rem 0; border-radius: 20px; text-align: center;">
                                Corrected by Supervisor</div>
                            <span style="display: inline-block"></span>
                            <div id="get_time">
                                    <div id="time">
                                        <div class="table-responsive" style="min-height: 50rem">
                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <th>Start</th>
                                                    <th>End</th>
                                                    <th>Time</th>
                                                    <th>Logs</th>
                                                    <th>Delete</th>
                                                </thead>
                                                <tbody v-for="time in times" v-if="time.owner === '{{request.user.username}}'" style="border-top: solid black 2px; border-bottom: solid black 2px">
                                                    <tr>
                                                        <td>[[time.start_working]]</td>
                                                        <td v-if="!time.done_working">Currently at work</td>
                                                        <td v-else>[[time.end_working]]</td>
                                                        <td>[[time.worked_time]]</td>
                                                        <td class="dropdown dropdown dropleft" style="margin-top: 0.2rem; margin-bottom: 0.2rem;">
                                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLogsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip="false">
                                                              <ion-icon name="reader-outline"></ion-icon>
                                                            </button>

                                                            <div class="dropdown-menu" aria-labelledby="dropdownLogsButton">
                                                              <a v-for="change in changed_times_logs" v-if="change.workingtime === time.id" class="dropdown-item">
                                                                  <div style="text-align: center">
                                                                      <strong>Changed by:</strong>
                                                                      <br>[[change.changed_by]]
                                                                      <br><strong>Changed at:</strong>
                                                                      <br>[[change.changed_at]]
                                                                      <br><strong>Start:</strong>
                                                                      <br>[[change.time_start]]
                                                                      <br><strong>End:</strong>
                                                                      <br>[[change.time_end]]
                                                                      <br><strong>Note:</strong>
                                                                      <br>[[change.notes]]
                                                                  </div>
                                                                  <hr class="dropdown-divider">
                                                              </a>
                                                            </div>
                                                          </td>
                                                        <td><span v-if="time.checked_by_supervisor">
                                                            <span v-if="time.is_approved_by_supervisor">
                                                                <button @click="delTime(time.id)" class="btn bg-success" aria-haspopup="true" aria-controls="dropdown-menu">
                                                                    <ion-icon name="trash-outline"></ion-icon><span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                              </span></button>
                                                            </span>
                                                            <span v-else>
                                                                <button @click="delTime(time.id)" class="btn bg-danger" aria-haspopup="true" aria-controls="dropdown-menu"><ion-icon name="trash-outline"></ion-icon><span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                              </span></button>
                                                            </span>
                                                        </span>
                                                        <span v-else>
                                                            <button @click="delTime(time.id)" class="btn bg-warning" aria-haspopup="true" aria-controls="dropdown-menu"><ion-icon name="trash-outline"></ion-icon><span class="icon is-small">
                                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                              </span></button>
                                                        </span></td>
                                                    </tr>
                                                <tr v-if="time.corrected" id="corrected" style="color: red">
                                                    <td>[[time.start_working_corrected]]</td>
                                                    <td>[[time.end_working_corrected]]</td>
                                                    <td>[[time.worked_time_corrected]]</td>
                                                    <td>Original Time</td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>
    </div>
                        {% endif %}
                {% else %}
                    <h1>Hi there!</h1>
                    <ul>
                        <li style="list-style-type: decimal"><h4>Are you forgetting to write your working time?</h4></li>
                        <li style="list-style-type: decimal"><h4>Do you hate to make hundreds of pictures of workingplan?</h4></li>
                        <li style="list-style-type: decimal"><h4>Or maybe you are writing it on your mobilephone, which you can loose any time.</h4></li>
                    </ul><br>
                    <h3>If your answer for any of that questions was <strong>YES</strong>, that website is for you!<br>
                        By single press button save your working time!<br>
                    <strong>Sign up</strong> now below and try it for yourself!</h3>
                {% endif %}
</div>
</div>

{% endblock %}

{% block script %}
<script>
    new Vue ({
        el: '#get_time',
        delimiters: ['[[',']]'],
        data () {
            return {
                times: '',
                same_:false,
                changed_times_logs: []
            }
        },
        mounted () {
            this.getTimes()
        },
        methods: {
            getTimes: function () {
                axios.get('/api/workingtime/')
                .then(response => {
                    this.times = response.data
                    this.changes_logs(response.data)
                })
            },
            changes_logs: function (times) {
               axios.get('/api/workingtime/change_logs/')
                .then(response => {
                    for (j=0;j<times.length;j++){
                        for (i=0;i<response.data.length;i++) {
                            if (response.data[i].workingtime === times[j].id) {
                                this.changed_times_logs.push(response.data[i])
                            }
                        }
                    }
                })
            },
            delTime: function (id) {
                axios.delete('/api/workingtime/'+id+'/',{
                    headers: {
                        'ContentType': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                })
                .then(response => this.getTimes())
            }
        }
    })
</script>
{% endblock %}
