{% extends 'core/index.html' %}

{% block content %}
    <div class="row" style="margin: 5rem 0rem;">
        <div class="col-12">
            <h1>Searching for {{object_list.query}}</h1><br>
            {% if object_list.is_valid %}
            {% for object in object_list.object_list %}
                {% for user in object %}
                {% if not user.user.is_staff %}
                    <h5><a class="btn bg-dark text-light" href="{% url 'user_profile_ui' user.user.username %}">{{user.name}} {{user.last_name}}</a></h5>
                {% endif %}
                {% endfor %}
            {% endfor %}
            {% else %}
            <h3>Didnt found employee</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}