{% extends 'core/index.html' %}

{% block content %}
<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
            background: #ebebeb;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;

			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title {
			color: #fff;
		}
		.login_btn {
			width: 100%;
			background: #f5a25d !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
        #messages{
			background-color: #ebebeb;
			color: #000;
			padding: 10px;
            padding-left: 15px;
			margin-top: 10px;
			border-radius: 5px;
		}

	</style>

        <div class="d-flex justify-content-center h-100" style="margin-top: 3rem">
            <div class="user_card bg-dark">
                <div class="d-flex justify-content-center">
                    <h3 class="form-title" style="color: #fff">Sign up</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><ion-icon name="person-outline"></ion-icon></span>
							</div>
							{{ form.username }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><ion-icon name="mail-outline"></ion-icon></span>
							</div>
							{{ form.email }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><ion-icon name="key-outline"></ion-icon></span>
							</div>
							{{ form.password1 }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><ion-icon name="key-outline"></ion-icon></span>
							</div>
							{{ form.password2 }}
						</div>

				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Register Account">
				   		</div>
					</form>
                </div>
                {% if form.errors %}
                <div id="messages">
                    {{form.errors}}
                </div>
                {% endif %}
                <div class="mt-4">
					<div class="d-flex justify-content-center links text-light">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script>
        var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
    </script>
{% endblock %}