{% extends 'core/index.html' %}

{% block content %}
<div class="row" style="margin-top: 5rem; margin-bottom: 5rem">
    <div class="col-12" id="weekly">
        <h2 style="display: inline-block">{{year}} - KW {{kw}}</h2>
        <div class="select" style="float: right">
                <h5 style="display: inline-block">Department: </h5>
                <select class="custom-select " v-model="department" style="width: auto; ">
                    {% for index, choice in request.user.userprofile.department_choices %}
                        {% if choice != 'Unspecify' %}
                            <option>{{choice}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        <div class="table-responsive" style="margin-top: 1rem">
    <table class="table table-bordered" >
                <thead class="thead-dark">
                    <th>Employee</th>
                    <th>Mon {{dates.0}}</th>
                    <th>Tue {{dates.1}}</th>
                    <th>Wed {{dates.2}}</th>
                    <th>Thu {{dates.3}}</th>
                    <th>Fri {{dates.4}}</th>
                    <th>Sat {{dates.5}}</th>
                    <th>Sun {{dates.6}}</th>
                </thead>
         <tbody>
                {% for employee in sorted %}
                    <tr v-if="'{{employee.0.department}}' === department">
                        <td class="bg-light">
                           {{employee.0.name}} {{employee.0.last_name}}
                        </td>
                        {% if not employee.1 == 'Mon' %}
                        <td class="bg-warning">{{employee.1}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                            {% endif %}

                        {% if not employee.2 == 'Tue' %}
                        <td class="bg-warning">{{employee.2}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                            {% endif %}
                            {% if not employee.3 == 'Wed' %}
                        <td class="bg-warning">{{employee.3}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                            {% endif %}

                        {% if not employee.4 == 'Thu' %}
                        <td class="bg-warning">{{employee.4}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                        {% endif %}

                        {% if not employee.5 == 'Fri' %}
                        <td class="bg-warning">{{employee.5}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                            {% endif %}
                        {% if not employee.6 == 'Sat' %}
                        <td class="bg-warning">{{employee.6}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                            {% endif %}
                        {% if not employee.7 == 'Sun' %}
                        <td class="bg-warning">{{employee.7}}</td>
                            {% else %}
                        <td class="bg-secondary">Off-Day</td>
                            {% endif %}
                    </tr>
                {% endfor %}
        </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        new Vue ({
            el: '#weekly',
            delimiters: ['[[', ']]'],
            data () {
                return {
                    department: '{{request.user.userprofile.department}}'
                }
            },
        })
    </script>
{% endblock %}